html * {
	font-family: 'Spectral SC', serif !important;
	font-weight: bold;
	color: #363636;
	background-color: #fdfdfd
}

#new-game-btn {
	background-color: #363636;
	color: white;
}

#hitler-logo {
	width: 500px;
}

#start-game-btn {
	background-color: #363636;
	color: white;
}

#join-game-btn {
	font-family: 'Spectral SC', serif !important;
	font-weight: bold;
}

#game-screen-logo {
	width: 150px;
	height: 113px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.board-img {
	width: 100%;
}

.vote_img {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    width: 75%;
    /*height: 357px;
    width: 250px;*/
}

#vote-card {
	width: 700px;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -350px;

}

#title_row {
	padding-top: 15px;
}